<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fileupload</display-name>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>info.sudr.file.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ctCompaniaCtrl</display-name>
    <servlet-name>ctCompaniaCtrl</servlet-name>
    <servlet-class>com.sinergitec.control.ct.ctCompaniaCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctCompaniaCtrl</servlet-name>
    <url-pattern>/ctCompaniaCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ctMenuCtrl</display-name>
    <servlet-name>ctMenuCtrl</servlet-name>
    <servlet-class>com.sinergitec.control.ct.ctMenuCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctMenuCtrl</servlet-name>
    <url-pattern>/ctMenuCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ctPuestoCtrl</display-name>
    <servlet-name>ctPuestoCtrl</servlet-name>
    <servlet-class>com.sinergitec.control.ct.ctPuestoCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctPuestoCtrl</servlet-name>
    <url-pattern>/ctPuestoCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ctEmisorCtrl</display-name>
    <servlet-name>ctEmisorCtrl</servlet-name>
    <servlet-class>com.sinergitec.control.ct.ctEmisorCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctEmisorCtrl</servlet-name>
    <url-pattern>/ctEmisorCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ctProgramaCtrl</display-name>
    <servlet-name>ctProgramaCtrl</servlet-name>
    <servlet-class>com.sinergitec.control.ct.ctProgramaCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctProgramaCtrl</servlet-name>
    <url-pattern>/ctProgramaCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ctUsuarioCtrl</display-name>
    <servlet-name>ctUsuarioCtrl</servlet-name>
    <servlet-class>com.sinergitec.control.ct.ctUsuarioCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctUsuarioCtrl</servlet-name>
    <url-pattern>/ctUsuarioCtrl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>syConfigUsuCtrl</display-name>
    <servlet-name>syConfigUsuCtrl</servlet-name>
    <servlet-class>com.sinergitec.control.sy.syConfigUsuCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>syConfigUsuCtrl</servlet-name>
    <url-pattern>/syConfigUsuCtrl</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>